
* {
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  color: yellow;
  background-image: url(https://i.imgur.com/5YVxBIx.png);
  background-size: cover;
  }


.board {
  display: flex;
  height: 400px;
  width: 500px;
  background: #1c4295;
}

.playAgain {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
}
