* {
  text-align: center;
  font-family: 'Londrina Solid', cursive;
}

.home-background {
  background-image: url(https://i.imgur.com/e0PYX4P.png?1);
  background-size: cover;
}

.startGamePlay {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #da4c43;
  border-style: dotted;
  border: 10px dotted #bf2e2f;
  cursor: pointer;
}

h1 {
  color: yellow
}