* {
  text-align: center;
  font-family: 'Londrina Solid', cursive;
}

.home-background {
  background-image: url(https://i.imgur.com/e0PYX4P.png?1);
  background-size: cover;
}

h1, p {
  margin: 85px;
}

a {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #da4c43;
  border: 5px dotted #bf2e2f;
  cursor: pointer;
  padding: 25px;
  text-decoration: none;
  color: white;
}

h1 {
  color: yellow
}